.body{
    background-color: orange;
    background-image: url(../Images/Background.jpg);
    /* height: 800px; */
    background-repeat: no-repeat;
}
p{
    color: #000000; 
     font-family: ‘Lato’, sans-serif; 
     font-size: 16px; 
     font-weight: 300; 
     line-height: 36px; 
     margin: 0 0 0px; 
}
.div1{
    margin-left: -8px;
}
.div2{
    background-color: white;
    height: 740px;
    width: 412px;
    border-radius: 40px;
    /* border: rgba(0, 0, 0, 0.507) solid 3px; */
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    overflow: hidden;
}
.img1{
    width: 90%;
    height: 49%;
    border-radius: 10px;
    margin-top: 10px;
}
.form1{
    margin-top: 2%;
    
}
.table1{
    text-align: center;
    margin-top: 10px;
}
.td1{
    border-right: 2px solid black;
}
.car1{
    border-right: 30px solid white;
}
.img2:hover{
    background: rgb(186,186,186);
    background: linear-gradient(180deg, rgba(186,186,186,1) 0%, rgba(216,216,216,1) 35%, rgba(241,240,240,1) 100%);
}
.img2{
    border-radius: 4px;
    border: 4px solid white;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    background: white;
}
.inputpos {
    border: 1px solid #ffffff;
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    width: 100%;
    color: #0000007a; font-family: ‘Lucida Sans’, Arial, sans-serif;
    font-size: 16px;
 }
 .tr1{
     border: 5px solid black;
 }
 .div3{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid black;
    width: 90%;
    margin-top: 2px;
    border-radius: 10px;
 }
 .p1{
     margin: 0px;
     margin-top: 5px;
 }
 .img3{
     border-radius: 40px;
 }
 .img3:hover{
    background-color: rgba(128, 128, 128, 0.200);
 }
 h1 { 
     font-family: ‘Lato’, sans-serif;
     line-height: 58px; 
     margin: 0 0 0px; 
}
h2 {
    color: #000000; 
     font-family: ‘Lato’, sans-serif; 
     font-size: 20px; 
     font-weight: 600; 
     line-height: 40px; 
     margin: 0 0 0px; 
}

 .td3{
    color: #1d1d1d; font-family: ‘Lucida Sans’, Arial, sans-serif;
    border-right: 30px solid white;
 }
 .td4{
    color: #1d1d1d; font-family: ‘Lucida Sans’, Arial, sans-serif;
    border-right: 30px solid white;
 }
 .cartext{
     margin: 0px;
     line-height: normal;
 }
 .cars{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 90%;
    margin-top: 2px;
 }
 .ordbigdiv{
     background: white;
     width: 400px;
     height: 400px;
     margin-top: 10%;
     border-radius: 40px;
     -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
 }
 .div_info{
     background-color: rgba(212, 212, 212, 0.541);
     padding-bottom: 47px;
    -moz-border-radius-bottomright: 40px;
    -webkit-border-bottom-right-radius: 40px;
    border-bottom-right-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-bottom-left-radius: 40px;
    border-bottom-left-radius: 40px;
 }
 .menuset{
     background-color: white;
     width: 412px;
     height: 323px;
     display: block;
     z-index: 999;
     position: relative;
     border-top: 5px solid black;
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
 }
 .comment{
     border: 2px solid black;
     background: white;
     outline: none;
     color: rgba(0, 0, 0, 0.671);
     font-family: 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
     width: 180px;
     height: 40px;
 }
 .divinline{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 90%;
    margin-top: 10px;
 }
 .textset{
     line-height: 20px;
 }
 .menupay{
    background-color: white;
    width: 412px;
    height: 323px;
    display: block;
    z-index: 999;
    position: relative;
    border-top: 5px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.textTaxi{
    background-color: rgb(255, 166, 0);
    font-size: 24px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
}
.siteName{
    line-height: normal;
}
.textEra{
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
}
.textProfile{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: orange;
    text-decoration: none;
    font-style: normal;
}
.divProfile{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.avatar{
    width: 100px;
    border: 2px solid black;
    border-radius: 100px;
}
.form_profile{
    margin-top: 30px;
}
#martop{
    margin-top: 50px;
}
#input_name{
    margin-top: 30px;
    text-align: center;
    border: 0px;
    font-size: 40px;
}
#input_low{
    width: 200px;
    border: 0px;
}
.p_name{
    line-height: 20px;
    margin-top: 10px;
}
.p_low{
    font-size: 22px;
}
.p_flname{
    font-size: 20px;
}
#div_profile{
    height: 520px;
}